body {
  margin: 0;
  padding: 0;
  background-color: #f4f3ee;
}

header {
  height: 70px;
  background-color: brown;
}

.products-main {
  width: 90vw;
  background-color: #f4f3ee;
  margin: 0 auto;
}

.list-mode div {
  margin: 10px;
  cursor: pointer;
}

.search-function div {
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.products-content {
  width: 100%;
}

.product {
  width: 50%;
  padding: 10px;
}

.product img {
  width: 100%;
  cursor: pointer;
}

.product-text p {
  margin: 0;
}

.item-name {
  text-decoration: none;
  color: black;
}

.product-list {
  display: none;
}

.favorite {
  width: 1rem;
}

@media screen and (min-width: 768px) {
  header {
    height: 100px;
    background-color: rgb(33, 187, 198);
  }

  .products-search {
    width: 92%;
    /* clac不起作用 */
    /* width: calc(100% - ((80% -(80% * 90%)))); */
  }

  .list-mode {
    display: none;
  }

  .product-list {
    display: block;
    width: 20%;
  }

  .center {
    text-align: center;
  }

  ul {
    padding: 10px;
    margin: 0;
  }

  li {
    list-style: none;
    margin: 5px 0;
  }

  .what01 {
    width: 80%;
  }

  .what02 {
    width: 90%;
  }

  .product {
    width: calc(100% / 3);
  }

  a {
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
  }
}
