body {
  margin: 0;
  padding: 0;
  background-color: #f4f3ee;
}

header {
  height: 70px;
  background-color: brown;
}

p {
  margin: 0;
}

.cart-product {
  position: relative;
  padding: 20px 0;
  
}

.cart-main {
  width: 90vw;
  margin: 0 auto;
}

.cart-content {
  width: 100%;
}

.product-info {
  position: relative;
  margin-bottom: 20px;
}

.product-img {
  max-width: 30%;
  
}

.cart-content {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 0 20px;
  margin: 0 auto;
}

.product-details {
  width: 70%;
  padding: 20px;
  font-weight: 600;
}

select {
  width: 100px;
}

button {
  border: 1px solid #7B302B;
}

a {
  text-decoration: none;
  color: #7B302B;
  font-size: 1rem;
}

button {
  padding: 5px 30px;
  margin: 10px;
}

.delete-btn {
  position: absolute;
  border: none;
  right: 0;
  top: 10px;
}

.coupon {
  text-align: center;
  margin: 30px;
}

input {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}

.coupon p {
  color: #7B302B;
  font-size: 0.85rem;
}

.payment-delivery {
  background-color: #fff;
}

.payment-method, .delivery-method {
  padding: 30px 50px 0px 50px;
}

/* 大於768px */
@media screen and (min-width: 768px) {
  header {
    height: 100px;
    background-color: rgb(33, 187, 198);
  }
}