header {
  position: relative;
  height: 70px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
}

/* 手機版logo外層容器 */
.header-row {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 5;
}

.header-logo-mobile {
  margin: 0 20px;
  height: 60px;
}

.header-logo-tab,
.header-row2 {
  display: none;
}

.header-right {
  display: flex;
  justify-content: end;
  position: sticky;
  height: 60px;
  left: 100vw;
  bottom: 10px;
  margin: 0 20px;
  z-index: 100;
  padding: 5px 0;
}

.header-icon {
  display: inline-block;
  position: relative;
  height: 25px;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}

/* 漢堡選單 */
.hamburger-list {
  width: 20rem;
  position: fixed;
  flex-direction: column;
  right: -15%;
  z-index: 1000;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  opacity: 0;
}

.hamburger-list.is-active {
  display: flex;
}

.btn-special {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 17rem;
  height: 45px;
  border: 0px;
  background-color: #7b3027;
  margin: 10px auto;
}

.btn-special a {
  text-decoration: none;
  color: #f4f3ee;
  font-size: 1rem;
  letter-spacing: 20%;
}

.btn-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 17rem;
  height: 45px;
  background-color: #fff;
  margin: 10px auto;
  border: 0px;
  border-bottom: 1px solid #000;
}

.btn-list a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 20%;
}

.hamburger-list-bottom {
  background-color: #bcb8b1;
  border-top: 2px solid rgba(138, 129, 124, 0.25);
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  height: 50px;
}

.hamburger-list-bottom img {
  height: 25px;
  padding: 5px 10px;
}

.hamburger-list-bottom p {
  font-size: 2.5rem;
  font-weight: 500;
  color: rgba(138, 129, 124, 0.75);
  align-items: center;
}

.t {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.t a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.hamburger-list-bottom div {
  align-items: center;
  line-height: 50px;
  padding: 0 10px;
}

.share-animation {
  animation-name: share-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  /* display: flex;
    justify-content: space-around;
    align-items: center; */
}

@keyframes share-animation {
  from {
    right: -15%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
    z-index: 20;
  }
}

.share-animation-back {
  animation-name: share-animation002;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes share-animation002 {
  from {
    right: 0%;
    opacity: 1;
    z-index: 20;
  }
  to {
    right: -15%;
    opacity: 0;
  }
}

/* 購物車選單 */
.cart-list {
  width: 25rem;
  position: absolute;
  top: 0px;
  right: 0px;
  flex-direction: column;
  /* right: -15%; */
  z-index: 1000;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  /* opacity: 0; */
  background-color: #fff;
}

.btn-close {
  float: right;
  border: 0;
  background-color: #fff;
  margin: 20px 30px 10px;
}

.products-list {
  border-top: 1px solid #7b3027;
  border-bottom: 1px solid #7b3027;
  margin: 10px 30px;
  padding: 20px;
}

.carts-product {
  display: flex;
  margin: 10px 0 20px 0;
}

.carts-product img {
  width: 30%;
}

.product-details {
  width: 60%;
  margin: 0 auto;
}

.product-details p {
  display: block;
  margin-bottom: 20px;
  font-weight: 600;
}

.list-container {
  clear: both;
  display: flex;
  flex-direction:column;
}

.btn-checkout {
  border: 0px;
  box-sizing: border-box;
  background-color: #7b3027;
  color: #f4f3ee;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  margin: 20px auto 30px auto;
}

@media screen and (min-width: 36rem) {
  header {
    height: 120px;
  }
  .header-logo {
    margin: 0 auto;
  }
  .header-logo-mobile,
  .hamburger,
  .hamburger-list,
  .hamburger-list.is-active {
    display: none;
  }
  .header-logo-tab,
  .header-row2 {
    display: flex;
  }
  .header-row2 {
    margin: 15px auto;
    justify-content: center;
    a {
      text-decoration: none;
      margin: 0 10px;
      font-size: 1rem;
      color: #7b3027;
    }
  }
}
